<div class="animated fadeIn">
  <div class="card-columns cols-2">
    <div class="card">
      <div class="card-header">
        Bar Chart
        <div class="card-header-actions">
          <a href="http://www.chartjs.org">
            <small class="text-muted">docs</small>
          </a>
        </div>
      </div>
      <div class="card-body">
        <div class="chart-wrapper">
          <canvas baseChart class="chart"
          [datasets]="barChartData"
          [labels]="barChartLabels"
          [options]="barChartOptions"
          [legend]="barChartLegend"
          [chartType]="barChartType"
          (chartHover)="chartHovered($event)"
          (chartClick)="chartClicked($event)"></canvas>
        </div>
      </div>
    </div>
  </div>

  
  <div class="card col-lg-12 pt-2">
    <app-table-sr-pagination
      [displayedColumns]="displayedColumns">
    </app-table-sr-pagination>
  </div>

  <div class="card col-lg-12">
    <div class="dropzone" appDnd (fileDropped)="onFileDropped($event)">
      <input type="file" #fileDropRef id="fileDropRef" multiple (change)="fileBrowseHandler($event.target.files)" />
      <img src="assets/img/upload.png">
      <h3>Arraste e solte arquivos aqui.</h3>
      <h3>ou</h3>
      <label for="fileDropRef">Selecione arquivo.</label>
    </div>
  </div>

  <div class="files-list">
    <div class="single-file" *ngFor="let file of files; let i = index">
      <img src="assets/img/upload.png" width="45px" alt="file">
      <div class="info">
        <h4 class="name">
          {{ file?.name }}
        </h4>
        <p class="size">
          {{ formatBytes(file?.size) }}
        </p>
      </div>
      <mat-icon class="delete" color="danger" (click)="deleteFile(i)">delete</mat-icon>
    </div>
</div>
