<div class="app-body">
  <main class="main d-flex align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-md-6 mx-auto">
          <div class="card mx-4">
            <div class="card-body p-4">
              <form [formGroup]="formGroup">
                <h1>Register</h1>
                <p class="text-muted">Create your account</p>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="icon-user"></i></span>
                  </div>
                  <input
                    type="text"
                    [ngClass]="formGroup.get('name').invalid ? 'is-invalid' : ''"
                    class="form-control"
                    formControlName="name"
                    placeholder="Username"
                    autocomplete="username"
                    required>
                  <div class="invalid-feedback" *ngIf="formGroup.get('name').invalid">
                    Username inválido!
                  </div>
                </div>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text">@</span>
                  </div>
                  <input
                    type="text"
                    class="form-control"
                    formControlName="email"
                    placeholder="Email"
                    autocomplete="email"
                    required>
                </div>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="icon-lock"></i></span>
                  </div>
                  <input
                    type="password"
                    class="form-control"
                    formControlName="password"
                    placeholder="Senha"
                    required>
                </div>
                <div class="input-group mb-4">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="icon-lock"></i></span>
                  </div>
                  <input
                    type="password"
                    class="form-control"
                    formControlName="passwordConfirmation"
                    placeholder="Confirmar senha"
                    >
                </div>
                <div class="input-group mb-4">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="icon-lock"></i></span>
                  </div>
                  <select
                    class="form-control"
                    id="state"
                    formControlName="state"
                    >
                    <option value="" selected>Selecione</option>
                    <option *ngFor="let estado of estados" [value]="estado.sigla">{{ estado.nome }}</option>
                  </select>
                </div>
                <div class="input-group mb-4">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="icon-lock"></i></span>
                  </div>
                  <select class="form-control" id="cidade" formControlName="city">
                    <option value="" selected *ngIf="formGroup.get('state').valid">Selecione</option>
                    <option *ngFor="let cidade of cidades" [value]="cidade.nome">{{ cidade.nome }}</option>
                  </select>
                </div>
                <button type="button" class="btn btn-block btn-success" (click)="createAccount()">Create Account</button>
              </form>
            </div>
            <div class="card-footer p-4">
              <div class="row">
                <div class="col-6">
                  <button class="btn btn-block btn-facebook" type="button"><span>facebook</span></button>
                </div>
                <div class="col-6">
                  <button class="btn btn-block btn-twitter" type="button"><span>twitter</span></button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
